* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  color: #5C5C5C;
}

.flex-row {
  display: flex;
  flex-direction: row;
}
.rectangle {
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.header{
  max-width: 1920px;
  height: 71px;
  background: #0054A6;
  padding: 0 15px;
  &__navigation {
    max-width: 1185px;
    width: 100%;
    margin: 0 auto;
    &__logo {
      margin: 20px auto;
      width: 142.77px;
      height: 28px;
    }
  }
}

.Page {
  max-width: 1185px;
  width: 100%;
  margin: 45px auto 0 auto;
  padding: 0 15px;

  &__intro {
    min-width: 300px;
    height: 95px;
    font-size: 64px;
    line-height: 95px;
    font-family: "Oswald";
    &__title {
      letter-spacing: 0.016em;
      text-transform: uppercase;
    }
    &__add {
        position: relative;
        margin: auto 0 auto 15px;
        width: 44px;
        height: 44px; 
        border-radius: 50%;
        background: #FFFFFF;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        &:hover {
          background-color: rgba(95, 95, 95, 0.1);
        }
        cursor: pointer;
      .add-button {
        position: absolute;
        width: 18.45px;
        height: 18.45px;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }
  }

  &__SearchNav {
    margin: 0 auto;
    width: 100%;
    &__inputWrapper {
      margin-right: 24px;
      max-width: 1000px;
      min-width: 100px;
      width: 100%;
      height: 49px;
      &__input {
        width: 100%;
        outline: none;
        border: 0;
      }
      &__search {
        width: 18.4px;
        height: 20.44px;
        margin: auto 14.56px auto 0;
        .search-button {
          width: 100%;
          height: 100%;
          margin: 14 14.56 0 0;
          cursor: pointer;
        }
      }
    }
    &__selectWrap {
      width: 161px;
      height: 49px;
      &__select {
        margin: 12px 37px 16px 22px;
        width: 102px;
        height: 21px;       
        outline: none;
        border: 0;
        font-family: "Oswald";
        font-size: 18px;
        line-height: 27px;
        letter-spacing: 0.016em;
        text-transform: uppercase;
      }
    }
  }

  &__CountriesContainer {
    margin-top: 26px;
    padding: 24px 33px;
    width: 100%;
    min-width: 300px;
    &__row {
      border-top: 1px solid #969696;
      &__text {
        white-space: normal;
        overflow: auto;
        width: 22%;
        border-right: 1px solid #969696;
        padding: 15px 0 15px 10px;
      }
      &__options {
        padding: 15px 0;
        width: 20%;
        background: linear-gradient(#969696, #969696) no-repeat center/1px 60%;
        &__item {
          cursor: pointer;
          width: 20px;
          height: 20px;
          margin: 0 auto;
          &:hover {
            filter: invert(88%) sepia(100%) saturate(1000%) hue-rotate(200deg) brightness(105%) contrast(109%);
          }
        }
      }
    }
    .noTop {
      border-top: none;
    }
    .last {
      border-right: none;
      width: 12%;
    }
    .first {
      padding-left: 0;
    }
    .colTitle {
      text-transform: uppercase;
      font-family: "Oswald";
      font-size: 18px;
      line-height: 27px;
      /* identical to box height */
      letter-spacing: 0.016em;
    }
  }
}

.all-screen {
  &__whiteBackground {
    position: fixed;
    left:0;
    top: 0;
    background: rgba(255, 255, 255, 0.95);
    width: 100vw;
    height: 100vh; 
    &__addCountry {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      min-width: 300px;
      width: 25%;
      height: 446px;
      margin: auto;
      padding: 35px 46px;
      &__title {
        font-family: "Oswald";
        font-size: 25px;
        line-height: 37px;
        letter-spacing: 0.016em;
        text-transform: uppercase;
        color: #5C5C5C;
      }
      &__field {
        border: 0.75px solid #969696;
        border-radius: 7px;
        width: 100%;
        margin: 0 auto 26px auto;
        &__input {
          width: calc(100% - 20px);
          outline: none;
          border: 0;
          margin: 0 10px;
        }
        &__legend {
          margin-left: 26px;
          font-family: "Open Sans";
          font-size: 10px;
          line-height: 28px;
          letter-spacing: 0.01em;

          color: #969696;
        }
      }
      &__submit {
        position: absolute;
        right: 46px;
        width: 92px;
        height: 40px;
        cursor: pointer;
        &:hover {
          background-color: rgba(95, 95, 95, 0.1);
        }
        &__text {
          width: 61px;
          height: 100%;
          font-family: "Oswald";
          font-size: 14px;
          line-height: 40px;
          letter-spacing: 0.016em;
          text-transform: uppercase;
          color: #969696;
          margin: 0 auto;
        }
      }
    }
  }
}